HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
beta-api/src/main/resources/
beta-api/src/test/
beta-api/target/
beta-dao/src/
beta-impl/src/test/
beta-impl/target/
beta-web/src/test/
beta-web/target/
